//DATA//
  ldjPlugin: U.GetConfig('ldj_plugin_name')
  kfcPlugin: U.GetConfig('kfc_plugin_name')
  m32Plugin: U.GetConfig('m32_plugin_name')
  mdxPlugin: U.GetConfig('mdx_plugin_name')
  recPlugin: U.GetConfig('rec_plugin_name')
  l44Plugin: U.GetConfig('l44_plugin_name')
  panPlugin: U.GetConfig('pan_plugin_name')
  m39Plugin: U.GetConfig('m39_plugin_name')

-
-
div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Profile 
    .card-content
      .field
            label.label Event
            .control
              .select
                input(name="refid" id="refid-input")
                button(id="search-data") GO
      div
        table.table(id="points-list" style="width:100%")
          thead
            tr    
              th Time
              th Game
              th Mode
              th Points
          tbody

div(hidden id='ldjPlugin') !{ldjPlugin}
div(hidden id='kfcPlugin') !{kfcPlugin}
div(hidden id='m32Plugin') !{m32Plugin}
div(hidden id='mdxPlugin') !{mdxPlugin}
div(hidden id='recPlugin') !{recPlugin}
div(hidden id='l44Plugin') !{l44Plugin}
div(hidden id='panPlugin') !{panPlugin}
div(hidden id='m39Plugin') !{m39Plugin}
script(src="static/asset/js/datatables.js")
script(src="static/asset/js/profileretrievegaugedata.js") 
